/* 基本导航 */
a{text-decoration: none;}
.menu-list .menu{padding-right: 1px;}
.skin-box-bd {background-color:#FFEACB;}
.skin-box-bd .menu-list {background:none repeat scroll 0 0 #FFEACB;}
.skin-box-bd .menu-list .link {background:none repeat scroll 0 0 #FFEACB;}
.skin-box-bd .menu-list .menu {border-right:0px;border-color:#FFEACB;}
.skin-box-bd .menu-list .menu .title {color:#282828;letter-spacing: 1px;font-family:"Times New Roman",Georgia,Serif;}
.all-cats .link {background:none repeat scroll 0 0 #FFEACB;}
.skin-box-bd .all-cats .title {color:#282828;font-weight: bold;text-align: center;}
.all-cats .link{border-right:0px;}
.popup-content .cats-tree{margin:0;margin-top: 0px;}
/* 导航下拉 */
.popup-content a:hover{text-decoration: none;letter-spacing: 1px;}
.popup-content .cats-tree .fst-cat .cat-name{font-size: 12px;color: #fff;}
.popup-content{background:#ea5404;}
.popup-content .cats-tree .snd-pop-inner{font-size: 12px;color: #fff;}
/* 一级导航hover */
.menu-list .menu-hover .link{background:#ea5404;}
.menu-list .menu-hover .link .title{color:#fff;}
/* 导航二级 */
.popup-content{background:#ea5404;letter-spacing: 1px;}
.popup-content .cats-tree .fst-cat .cat-name{color: #fff;letter-spacing: 1px;}
.popup-content .cats-tree .cat-hd-hover{background-color: rgba(255,255,255,.2);color: #282828;}
/* 导航三级 */
.popup-content .cats-tree .snd-pop-inner{font-size: 12px;color: #fff;letter-spacing: 1px;}
.popup-content .cats-tree .snd-pop-inner{background:#ea5404;}
.tshop-pbsm-shop-nav-ch .popup-content .cats-tree .snd-pop-inner .snd-cat-hd:hover{background-color: #ffeacb;color:#282828;}
/* 所有小icon */
/* .all-cats .link .popup-icon::after{content: '27A4'} */
/* 导航点击selected */
.menu-list .menu-selected{background: none;}
.skin-box-bd .menu-list .menu-selected .link {background:none repeat scroll 0 0 #ea5404;color: #fff;}
.skin-box-bd .menu-list .menu-selected .title{color: #fff !important;letter-spacing: 1px;font-family:"Times New Roman",Georgia,Serif;}