    <!-- 左侧菜单开始 -->
    <div class="left-nav">
        <div id="side-nav">
          <ul id="nav">
             <li>
                  <a href="javascript:;">
                      <i class="iconfont">&#xe726;</i>
                      <cite>管理员管理</cite>
                      <i class="iconfont nav_right">&#xe697;</i>
                  </a>
                  <ul class="sub-menu">
                      <li>
                          <a _href="{:url('User/index')}">
                              <i class="iconfont">&#xe6a7;</i>
                              <cite>管理员列表</cite>
                          </a>
                      </li >
                  </ul>
              </li>
              <li>
                  <a href="javascript:;">
                      <i class="iconfont">&#xe6a2;</i>
                      <cite>新闻管理</cite>
                      <i class="iconfont nav_right">&#xe697;</i>
                  </a>
                  <ul class="sub-menu">
                      <li>
                          <a _href="{:url('News/index')}">
                              <i class="iconfont">&#xe6a7;</i>
                              <cite>新闻列表</cite>
                          </a>
                      </li >
                  </ul>
              </li>  
              <li>
                  <a href="javascript:;">
                      <i class="iconfont">&#xe6f6;</i>
                      <cite>产品管理</cite>
                      <i class="iconfont nav_right">&#xe697;</i>
                  </a>
                  <ul class="sub-menu">
                      <li>
                          <a _href="order-list.html">
                              <i class="iconfont">&#xe6a7;</i>
                              <cite>产品列表</cite>
                          </a>
                      </li >
                  </ul>
              </li>
              <li>
                  <a href="javascript:;">
                      <i class="iconfont">&#xe699;</i>
                      <cite>分类管理</cite>
                      <i class="iconfont nav_right">&#xe697;</i>
                  </a>
                  <ul class="sub-menu">
                      <li>
                          <a _href="cate.html">
                              <i class="iconfont">&#xe6a7;</i>
                              <cite>分类列表</cite>
                          </a>
                      </li >
                  </ul>
              </li>     
              <li>
                  <a href="javascript:;">
                      <i class="iconfont">&#xe6ae;</i>
                      <cite>系统设置</cite>
                      <i class="iconfont nav_right">&#xe697;</i>
                  </a>
                  <ul class="sub-menu">
                      <li>
                          <a _href="system.html">
                              <i class="iconfont">&#xe6a7;</i>
                              <cite>系统设置</cite>
                          </a>
                      </li >
                  </ul>
              </li>
          </ul>
        </div>
      </div>
      <!-- <div class="x-slide_left"></div> -->
      <!-- 左侧菜单结束 -->