    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo"><a href="./index.html">后台管理系统</a></div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">{$username}</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <!-- <dd><a onclick="x_admin_show('个人信息','')">个人信息</a></dd>
              <dd><a onclick="x_admin_show('切换帐号','{:url(\'Login/LogOut\')}')">切换帐号</a></dd> -->
              <dd><a href="./index.html">个人信息</a></dd>
              <dd><a href="{:url('Login/LogOut')}">切换帐号</a></dd>
              <dd><a href="{:url(\'Login/LogOut\')}">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item to-index"><a href="/" target="_blank">前台首页</a></li>
        </ul>
        
    </div>
    <!-- 顶部结束 -->