<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>菜单列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__ADMIN__/css/font.css">
    <link rel="stylesheet" href="__ADMIN__/css/xadmin.css">
    <script type="text/javascript" src="__ADMIN__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__ADMIN__/js/xadmin.js"></script>
	<style type="text/css">
		.header span{background: #009688;margin-left: 10px;color: #ffffff;margin-top: -5px;}
		.header button{float: right;margin-top: -5px;}
		.header div{border-bottom: solid 2px #009688;margin-top: 8px;}
	</style>
</head>
<body style="padding:10px 0px;">
	<input type="hidden" id="pid" value="">
	<div class="header">
		<span class="layui-btn layui-btn-sm">菜单列表</span>
		<button class="layui-btn layui-btn-sm" onclick="add()">添加</button>
		<div></div>
	</div>
	<button class="layui-btn layui-btn-primary layui-btn-sm" style="float: right;margin-top: 5px;margin-bottom: 5px;" onclick="backs()">返回上级菜单</button>
	<table class="layui-table">
		<thead>
			<tr>
				<th>ID</th>
				<th>排序</th>
				<th>菜单名称</th>
				<th>控制器</th>
				<th>方法</th>
				<th>是否隐藏(0显示;1隐藏)</th>
				<th>状态(0正常;1禁用)</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{volist name="list" id="vo"}
			<tr>
				<td>{$vo.menu_id}</td>
				<td>{$vo.ord}</td>
				<td>{$vo.title}</td>
				<td>{$vo.controller}</td>
				<td>{$vo.method}</td>
				<td>{$vo.ishidden==1?'隐藏':'显示'}</td>
				<td>{$vo.status==1?'禁用':'正常'}</td>
				<td>
					<button class="layui-btn layui-btn-xs" onclick="childs()">子菜单</button>
					<button class="layui-btn layui-btn-warm layui-btn-xs" onclick="add()">编辑</button>
					<button class="layui-btn layui-btn-danger layui-btn-xs" onclick="del()">删除</button>
				</td>
			</tr>
			{/volist}
		</tbody>
	</table>
</body>
</html>
<script type="text/javascript">
	layui.use(['layer'],function(){
		layer = layui.layer;
		$ = layui.jquery;
	});

	// 添加
	function add(mid){
		var pid = $('#pid').val();
		layer.open({
			type:2,
			title:mid>0?'编辑菜单':'添加菜单',
			shade:0.3,
			area:['440px','490px'],
			content:'/admin.php/menu/add?mid='+mid+'&pid='+pid
		});
	}

	// 删除
	function del(mid){
		layer.confirm('确定要删除吗？',{
			icon:3,
			btn:['确定','取消']
		},function(){
			$.post('/index.php/admins/menu/delete',{'mid':mid},function(res){
				if(res.code>0){
					layer.alert(res.msg,{'icon':2});
				}else{
					layer.msg(res.msg,{'icon':1});
					setTimeout(function(){window.location.reload();},1000);
				}
			},'json');
		});
	}

	// 子菜单
	function childs(mid){
		window.location.href = '?pid='+mid;
	}

	// 返回上级菜单
	function backs(pid){
		window.location.href = '?pid='+pid;
	}
</script>