<header>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-3 logo-column">
                <a href="index.html" class="logo">
                    <img src="__INDEX__/images/logo.png" alt="logo">
                </a>
            </div>
            <div class="col-6 col-sm-9 nav-column clearfix">
                <div class="right-nav">
                    <span class="search-icon fa fa-search"></span>
                    <form action="#" class="search-form">
                        <input type="search" placeholder="search now">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <div class="header-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-github"></a>
                    </div>
                </div>
                <nav id="menu" class="d-none d-lg-block">
                    <ul>
                        <li class="current-menu-item has-child">
                            <a href="index.html">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html">Home - 01</a></li>
                                <li><a href="index-2.html">Home - 02</a></li>
                                <li><a href="index-3.html">Home - 03</a></li>
                            </ul>
                        </li>
                        <li><a href="{:url('Index/about')}">About</a></li>
                        <li><a href="{:url('Index/service')}">Service</a></li>
                        <li class="has-child">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="about.html">About</a></li>
                                <li><a href="career.html">Career</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="faq.html">Faq</a></li>
                                <li><a href="portfolio.html">Portfolio</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="service.html">Service</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="testimonial.html">Testimonial</a></li>
                            </ul>
                        </li>
                        <li><a href="{:url('index/contact')}">联系我们</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>