<!-- js -->
<script src="__INDEX__/js/jquery-2.2.4.min.js"></script>
<script src="__INDEX__/js/vendor/popper.min.js"></script>
<script src="__INDEX__/js/vendor/bootstrap.min.js"></script>
<script src="__INDEX__/js/vendor/owl.carousel.min.js"></script>
<script src="__INDEX__/js/vendor/isotope.pkgd.min.js"></script>
<script src="__INDEX__/js/vendor/jquery.barfiller.js"></script>
<script src="__INDEX__/js/vendor/loopcounter.js"></script>
<script src="__INDEX__/js/vendor/slicknav.min.js"></script>
<script src="__INDEX__/js/active.js"></script>